<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_player01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,95}}</string>
                <key>sourceSize</key>
                <string>{120,95}</string>
            </dict>
            <key>A_player01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,95}}</string>
                <key>sourceSize</key>
                <string>{120,95}</string>
            </dict>
            <key>A_player02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,95}}</string>
                <key>sourceSize</key>
                <string>{120,95}</string>
            </dict>
            <key>A_player02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,95}}</string>
                <key>sourceSize</key>
                <string>{120,95}</string>
            </dict>
            <key>A_player03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{85,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,110}}</string>
                <key>sourceSize</key>
                <string>{85,110}</string>
            </dict>
            <key>A_player03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,99},{85,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,110}}</string>
                <key>sourceSize</key>
                <string>{85,110}</string>
            </dict>
            <key>Max_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,99},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Max_Play_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,99},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,99},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dun_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>powerStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,211},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Players.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c25673e68d74e05b1f9f83787e95e21f:1/1$</string>
            <key>textureFileName</key>
            <string>Players.png</string>
        </dict>
    </dict>
</plist>
