<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{481,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,96}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
            <key>bg4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,100}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24be0cb347094703183069911c9c8b75:fd86436eb46e8fe5da3920cf490d9cf4:7628409ab40d00767d6fb32daddfe1cd$</string>
            <key>textureFileName</key>
            <string>map1.png</string>
        </dict>
    </dict>
</plist>
