<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{481,92}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,92}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
            <key>bg4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,485},{339,70}}</string>
                <key>offset</key>
                <string>{-50,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{339,70}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
            <key>bg3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,102}}</string>
                <key>sourceSize</key>
                <string>{568,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map3.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2328366efe9d51796d945d6726eadb7:19d454dd2bddc614231c3dfd58118f60:5b0d8678427ff7a8a5360ef6e15d184c$</string>
            <key>textureFileName</key>
            <string>map3.png</string>
        </dict>
    </dict>
</plist>
