<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,102}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
            <key>bg4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{471,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{471,102}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96bed14f2fdd3f39a6378ea0756fe2fa:613c6e42384352f425c0ca8963571541:f90cb3525a1a1283f6a7460ec1fea0ac$</string>
            <key>textureFileName</key>
            <string>map5.png</string>
        </dict>
    </dict>
</plist>
