<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>1</key>  
    <dict>  
        <key>1_3</key>  
        <dict>  
            <key>no</key>  
            <string>1</string>  
            <key>x</key>  
            <string>425</string>  
			<key>y</key>  
            <string>970</string>  
			<key>index</key>  
            <string>1</string> 
        </dict>  
		<key>1_2</key>  
        <dict>  
            <key>no</key>  
            <string>2</string>  
            <key>x</key>  
            <string>425</string>  
			<key>y</key>  
            <string>750</string>  
			<key>index</key>  
            <string>1</string> 
        </dict> 
		<key>1_1</key>  
        <dict>  
            <key>no</key>  
            <string>3</string>  
            <key>x</key>  
            <string>425</string>  
			<key>y</key>  
            <string>530</string>  
			<key>index</key>  
            <string>1</string> 
        </dict> 
    </dict> 
	<key>2</key>  
    <dict>  
        <key>2_3</key>  
        <dict>  
            <key>no</key>  
            <string>4</string>  
            <key>x</key>  
            <string>775</string>  
			<key>y</key>  
            <string>970</string>  
			<key>index</key>  
            <string>2</string> 
        </dict>  
		<key>2_2</key>  
        <dict>  
            <key>no</key>  
            <string>5</string>  
            <key>x</key>  
            <string>775</string>  
			<key>y</key>  
            <string>750</string>  
			<key>index</key>  
            <string>2</string> 
        </dict> 
		<key>2_1</key>  
        <dict>  
            <key>no</key>  
            <string>6</string>  
            <key>x</key>  
            <string>775</string>  
			<key>y</key>  
            <string>530</string>  
			<key>index</key>  
            <string>2</string> 
        </dict> 
    </dict> 
	<key>3</key>  
    <dict>  
        <key>3_3</key>  
        <dict>  
            <key>no</key>  
            <string>7</string>  
            <key>x</key>  
            <string>1125</string>  
			<key>y</key>  
            <string>970</string>  
			<key>index</key>  
            <string>3</string> 
        </dict>  
		<key>3_2</key>  
        <dict>  
            <key>no</key>  
            <string>8</string>  
            <key>x</key>  
            <string>1125</string>  
			<key>y</key>  
            <string>750</string>  
			<key>index</key>  
            <string>3</string> 
        </dict> 
		<key>3_1</key>  
        <dict>  
            <key>no</key>  
            <string>9</string>  
            <key>x</key>  
            <string>1125</string>  
			<key>y</key>  
            <string>530</string>  
			<key>index</key>  
            <string>3</string> 
        </dict> 
    </dict> 
	<key>4</key>  
    <dict>  
        <key>4_3</key>  
        <dict>  
            <key>no</key>  
            <string>10</string>  
            <key>x</key>  
            <string>1475</string>  
			<key>y</key>  
            <string>970</string>  
			<key>index</key>  
            <string>4</string> 
        </dict>  
		<key>4_2</key>  
        <dict>  
            <key>no</key>  
            <string>11</string>  
            <key>x</key>  
            <string>1475</string>  
			<key>y</key>  
            <string>750</string>  
			<key>index</key>  
            <string>4</string> 
        </dict> 
		<key>4_1</key>  
        <dict>  
            <key>no</key>  
            <string>12</string>  
            <key>x</key>  
            <string>1475</string>  
			<key>y</key>  
            <string>530</string>  
			<key>index</key>  
            <string>4</string> 
        </dict> 
    </dict> 
	<key>5</key>  
    <dict>  
        <key>5_3</key>  
        <dict>  
            <key>no</key>  
            <string>13</string>  
            <key>x</key>  
            <string>1825</string>  
			<key>y</key>  
            <string>970</string>  
			<key>index</key>  
            <string>5</string> 
        </dict>  
		<key>5_2</key>  
        <dict>  
            <key>no</key>  
            <string>14</string>  
            <key>x</key>  
            <string>1825</string>  
			<key>y</key>  
            <string>750</string>  
			<key>index</key>  
            <string>5</string> 
        </dict> 
		<key>5_1</key>  
        <dict>  
            <key>no</key>  
            <string>15</string>  
            <key>x</key>  
            <string>1825</string>  
			<key>y</key>  
            <string>530</string>  
			<key>index</key>  
            <string>5</string> 
        </dict> 
    </dict>  
</dict>  
</plist>  