<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_boss_Button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,105}}</string>
                <key>sourceSize</key>
                <string>{248,105}</string>
            </dict>
            <key>A_boss_Button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,105}}</string>
                <key>sourceSize</key>
                <string>{248,105}</string>
            </dict>
            <key>A_set_Button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{248,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,105}}</string>
                <key>sourceSize</key>
                <string>{248,105}</string>
            </dict>
            <key>A_set_Button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,109},{248,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,105}}</string>
                <key>sourceSize</key>
                <string>{248,105}</string>
            </dict>
            <key>A_start_Button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{248,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,106}}</string>
                <key>sourceSize</key>
                <string>{248,106}</string>
            </dict>
            <key>A_start_Button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,216},{248,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,106}}</string>
                <key>sourceSize</key>
                <string>{248,106}</string>
            </dict>
            <key>backButton_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>backButton_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,324},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>bossButton_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,324},{203,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,113}}</string>
                <key>sourceSize</key>
                <string>{203,113}</string>
            </dict>
            <key>bossButton_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{203,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,113}}</string>
                <key>sourceSize</key>
                <string>{203,113}</string>
            </dict>
            <key>normalButton_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,439},{186,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,122}}</string>
                <key>sourceSize</key>
                <string>{186,122}</string>
            </dict>
            <key>normalButton_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{186,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,122}}</string>
                <key>sourceSize</key>
                <string>{186,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39a6544df39c5f4edf9cfbede05d9868:1/1$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
