<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>00118.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>00720.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{287,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{287,68}</string>
            </dict>
            <key>00721.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{287,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{287,68}</string>
            </dict>
            <key>00725.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>01501.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{614,622}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,622}}</string>
                <key>sourceSize</key>
                <string>{614,622}</string>
            </dict>
            <key>01502.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{537,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,175}}</string>
                <key>sourceSize</key>
                <string>{537,175}</string>
            </dict>
            <key>01503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>01504.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,626},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>01505.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,626},{586,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,537}}</string>
                <key>sourceSize</key>
                <string>{586,537}</string>
            </dict>
            <key>01506.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,626},{414,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,6}}</string>
                <key>sourceSize</key>
                <string>{414,6}</string>
            </dict>
            <key>01507.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,626},{530,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,94}}</string>
                <key>sourceSize</key>
                <string>{530,94}</string>
            </dict>
            <key>01508.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,626},{85,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>01509.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,626},{90,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,135}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>01510.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,626},{72,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,134}}</string>
                <key>sourceSize</key>
                <string>{72,134}</string>
            </dict>
            <key>08013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,626},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>08015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1165},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Email.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4bc7868eafea2baad8522266deb2c16:1/1$</string>
            <key>textureFileName</key>
            <string>Email.png</string>
        </dict>
    </dict>
</plist>
