<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,194},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,194},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,194},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,194},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
            <key>boom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,386},{196,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,190}}</string>
                <key>sourceSize</key>
                <string>{196,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03bbe2d4543be0b90e83e0b44f1443a:1/1$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
