<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,470}}</string>
                <key>sourceSize</key>
                <string>{230,470}</string>
            </dict>
            <key>BOSS_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{300,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,526}}</string>
                <key>sourceSize</key>
                <string>{300,526}</string>
            </dict>
            <key>BOSS_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{290,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,501}}</string>
                <key>sourceSize</key>
                <string>{290,501}</string>
            </dict>
            <key>BOSS_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{450,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>Warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{640,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,160}}</string>
                <key>sourceSize</key>
                <string>{640,160}</string>
            </dict>
            <key>diji_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,57}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>diji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{130,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,63}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>diji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,530},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>diji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,530},{187,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,154}}</string>
                <key>sourceSize</key>
                <string>{187,154}</string>
            </dict>
            <key>diji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,530},{163,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,300}}</string>
                <key>sourceSize</key>
                <string>{163,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feiji.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5bd95840ba3330a923ea9c9382e3452:1/1$</string>
            <key>textureFileName</key>
            <string>feiji.png</string>
        </dict>
    </dict>
</plist>
