<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulletCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,960}}</string>
                <key>sourceSize</key>
                <string>{20,960}</string>
            </dict>
            <key>bulletLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{18,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,960}}</string>
                <key>sourceSize</key>
                <string>{18,960}</string>
            </dict>
            <key>bulletRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{22,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,960}}</string>
                <key>sourceSize</key>
                <string>{22,960}</string>
            </dict>
            <key>crazy.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{640,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,150}}</string>
                <key>sourceSize</key>
                <string>{640,150}</string>
            </dict>
            <key>z_DiJi_Bullet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>z_DiJi_Bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{120,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,23}}</string>
                <key>sourceSize</key>
                <string>{120,23}</string>
            </dict>
            <key>z_DiJi_Bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{61,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,15}}</string>
                <key>sourceSize</key>
                <string>{61,15}</string>
            </dict>
            <key>z_DiJi_Bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>z_DiJi_Bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{80,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,12}}</string>
                <key>sourceSize</key>
                <string>{80,12}</string>
            </dict>
            <key>z_DiJi_Bullet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>z_DiJi_Bullet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,964},{30,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,11}}</string>
                <key>sourceSize</key>
                <string>{30,11}</string>
            </dict>
            <key>z_DiJi_Bullet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,964},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiGBullet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45046710541b208fae454c220a44a0bb:1/1$</string>
            <key>textureFileName</key>
            <string>jiGBullet.png</string>
        </dict>
    </dict>
</plist>
