<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_reconnect_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,223},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>btn_reconnect_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,97},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>btn_reconnect_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,97},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>frame_reconnect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,158}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{273,158}}</string>
                <key>sourceSize</key>
                <string>{279,200}</string>
            </dict>
            <key>reconnect.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{93,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{93,91}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d669544762d6e6b2fb7062ef5e35373b$</string>
            <key>textureFileName</key>
            <string>100.png</string>
        </dict>
    </dict>
</plist>
