<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{321,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,303}}</string>
                <key>sourceSize</key>
                <string>{321,303}</string>
            </dict>
            <key>btn_unlock_left_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,412},{123,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,41}}</string>
                <key>sourceSize</key>
                <string>{123,41}</string>
            </dict>
            <key>btn_unlock_left_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,403},{123,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,41}}</string>
                <key>sourceSize</key>
                <string>{123,41}</string>
            </dict>
            <key>btn_unlock_left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,360},{123,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,41}}</string>
                <key>sourceSize</key>
                <string>{123,41}</string>
            </dict>
            <key>btn_unlock_right_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,316},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>btn_unlock_right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,272},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>btn_unlock_right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,228},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>picture_unlock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,446},{114,118}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{114,118}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>picture_unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,118},{126,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{126,108}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>picture_unlock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{108,110}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{108,110}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>picture_unlock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{132,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{132,114}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>picture_unlock_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,562},{116,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{116,114}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>picture_unlock_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,662},{108,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{108,108}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>roundLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{353,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,353}}</string>
                <key>sourceSize</key>
                <string>{353,353}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{79,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{79,17}</string>
            </dict>
            <key>unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,360},{52,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>107.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75a4e97c6d30898ffb0f6bf43a55ac0f$</string>
            <key>textureFileName</key>
            <string>107.png</string>
        </dict>
    </dict>
</plist>
