<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,46}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{481,46}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
            <key>bg4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{481,45}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{481,45}}</string>
                <key>sourceSize</key>
                <string>{481,131}</string>
            </dict>
            <key>bg3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{427,242}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,242}}</string>
                <key>sourceSize</key>
                <string>{427,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:266ce8a86819d7f53282a9fd7ede20b7:6c4522c159190fa2879cd345cc4863ab:bee521ff6c9da121f5122e3eb547bbc8$</string>
            <key>textureFileName</key>
            <string>map1_1.png</string>
        </dict>
    </dict>
</plist>
