<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,102}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
            <key>bg4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{481,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{481,88}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dcd5cd69ce8315d48e74a387955a5f0:fa024a9b2a7d2cbab0902fe533de3da5:880390f6a91acccd7cbe415b4fa1bcaa$</string>
            <key>textureFileName</key>
            <string>map2.png</string>
        </dict>
    </dict>
</plist>
