<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{481,74}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{481,74}}</string>
                <key>sourceSize</key>
                <string>{481,102}</string>
            </dict>
            <key>bg4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,63}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{481,63}}</string>
                <key>sourceSize</key>
                <string>{481,131}</string>
            </dict>
            <key>bg3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{427,242}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,242}}</string>
                <key>sourceSize</key>
                <string>{427,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map6_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45eceab47952b3ece11e20f8446c2421:4cf89eb31c291415fe885c32754a833f:ccc9142f201b42f2096510708ebe9a7a$</string>
            <key>textureFileName</key>
            <string>map6_1.png</string>
        </dict>
    </dict>
</plist>
