<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,402}}</string>
                <key>sourceSize</key>
                <string>{330,402}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{155,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,220}}</string>
                <key>sourceSize</key>
                <string>{155,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fdf287564cc5a68dfde17ab5f012434:1/1$</string>
            <key>textureFileName</key>
            <string>win.png</string>
        </dict>
    </dict>
</plist>
