<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_player01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,104},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>A_player01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>A_player02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,246},{114,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,167}}</string>
                <key>sourceSize</key>
                <string>{114,167}</string>
            </dict>
            <key>A_player02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{114,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,167}}</string>
                <key>sourceSize</key>
                <string>{114,167}</string>
            </dict>
            <key>A_player03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,246},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>A_player03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,246},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>BOSS_1_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,415},{115,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,235}}</string>
                <key>sourceSize</key>
                <string>{115,235}</string>
            </dict>
            <key>BOSS_2_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,652},{150,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,263}}</string>
                <key>sourceSize</key>
                <string>{150,263}</string>
            </dict>
            <key>BOSS_3_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{145,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,250}}</string>
                <key>sourceSize</key>
                <string>{145,250}</string>
            </dict>
            <key>BOSS_4_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,415},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>Max_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Max_Play_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dun_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>powerStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>powerStone_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,104},{69,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,124}}</string>
                <key>sourceSize</key>
                <string>{69,124}</string>
            </dict>
            <key>upPower.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,104},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Players.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:876ce6e2cf42690646420ba536392db1:1/1$</string>
            <key>textureFileName</key>
            <string>Players.png</string>
        </dict>
    </dict>
</plist>
